<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cur.pro.mapper.KindMapperMapper" >
  <resultMap id="BaseResultMap" type="cur.pro.entity.KindMapper" >
    <constructor >
      <arg column="article" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="kind" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="cur.pro.entity.KindMapper" >
    insert into kindmapper (article, kind)
    values (#{article,jdbcType=INTEGER}, #{kind,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cur.pro.entity.KindMapper" >
    insert into kindmapper
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="article != null" >
        article,
      </if>
      <if test="kind != null" >
        kind,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="article != null" >
        #{article,jdbcType=INTEGER},
      </if>
      <if test="kind != null" >
        #{kind,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <insert id="insertKindBatch" parameterType="list">
    insert into kindmapper (article, kind)
    values
    <foreach collection="kinds" item="kind" separator=",">
      (#{articleId, jdbcType=INTEGER}, #{kind, jdbcType=INTEGER})
    </foreach>
  </insert>

  <insert id="insertArticleBatch" parameterType="list">
    insert into kindmapper(kind, article)
    values
    <foreach collection="articleIds" item="articleId" separator=",">
      (#{kind, jdbcType=INTEGER}, #{articleId, jdbcType=INTEGER})
    </foreach>
  </insert>

  <select id="selectArticleByKind" parameterType="Integer" resultType="Integer">
    select article from kindmapper
    where kind = #{kind, jdbcType=INTEGER}
  </select>

  <select id="selectKindByArticleId" parameterType="Integer" resultType="Integer">
    select kind from kindmapper
    where article = #{articleId, jdbcType=INTEGER}
  </select>

  <select id="selectBatchByKinds" parameterType="list" resultType="Integer">
    select article from kindmapper
    <where>
      kind in
      <foreach collection="kinds" item="kind" separator="," open="(" close=")">
        #{kind}
      </foreach>
    </where>
  </select>

  <delete id="deleteByArticleId" parameterType="Integer">
    delete from kindmapper where article = #{articleId, jdbcType=INTEGER}
  </delete>

  <delete id="deleteByKind" parameterType="Integer">
    delete from kindmapper where kind = #{kind, jdbcType=INTEGER}
  </delete>
</mapper>