<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cur.pro.mapper.TokenMapper" >
  <resultMap id="BaseResultMap" type="cur.pro.entity.Token" >
    <constructor >
      <arg column="uid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="token" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="expired_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="ip" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="device" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ctime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="stat" jdbcType="TINYINT" javaType="java.lang.Byte" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="cur.pro.entity.Token" >
    insert into token (uid, token, expired_time, 
      ip, device, ctime, 
      stat)
    values (#{uid,jdbcType=INTEGER}, #{token,jdbcType=VARCHAR}, #{expiredTime,jdbcType=TIMESTAMP}, 
      #{ip,jdbcType=VARCHAR}, #{device,jdbcType=VARCHAR}, #{ctime,jdbcType=TIMESTAMP}, 
      #{stat,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="cur.pro.entity.Token" >
    insert into token
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="expiredTime != null" >
        expired_time,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="device != null" >
        device,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="stat != null" >
        stat,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="expiredTime != null" >
        #{expiredTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="device != null" >
        #{device,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="stat != null" >
        #{stat,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
</mapper>